<div>
    <div>
        <label for="start-row">Start Row:</label>
        <input type="number" class="location" id="start-row"/>
        <label for="start-col">Start Col:</label>
        <input type="number"class="location" id="start-col"/>
    </div>
    <div>
        <label for="end-row">End Row:</label>
        <input type="number" id="end-row" />
        <label for="end-col">End Col:</label>
        <input type="number" id="end-col" />
    </div>
    <br></br>
    <select id="operation-select">
        <option value="move">Move</option>
        <option value="attack">Attack</option>
        <option value="recruit">Recruit</option>
        <option value="spawn">Spawn</option>
        <option value="crack">Crack</option>
    </select>
    <br></br>
    <button id="go">Go</button>    
        <pre>
            <div id="game-board">"Game"</div>
        </pre> 
    <div id="message">Messages</div>
</div>
